@model IEnumerable<ZeroHunger.EF.Request>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.request_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.collection_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restaurant_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.request_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.collection_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restaurant_id)
        </td>
       
        <td>
            @if (item.status == "Picking Up") {<a href="/Employee/UpdateRequest/@item.id">Collection Done</a>}
        </td>
    </tr>
}

</table>
